style(type='text/css').
    #footer {
        background: #1f1f1f;
        color: #fff;
    }
    #footer p {
        font-size: 10px;
        padding: 1rem;
        text-align: right;
        background: #1f1f1f;
        margin-bottom: 0;
    }

footer#footer
    p Copyright &copy; Meetapp
